<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>
Untitled Document
</title>

<link rel="stylesheet" type="text/css" href="../static/css/global.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" media="screen" />
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="../static/css/global_ie.css" />
<![endif]-->

## <!-- Add jQuery library -->
<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.mousewheel-3.0.6.pack.js"></script>
<link rel="stylesheet" href="../static/js/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="../static/js/jquery.fancybox.pack.js"></script>

</head>

<body>

<div class="container">
  <div class="header">
	<a href="#"><img src="" alt="Insert Logo Here" name="Insert_logo" width="20%" height="90" id="Insert_logo" style="background: #8090AB; display:block;" /></a>
  </div>
  <div class="content">
	<div class="info">
	  <h1>Instructions</h1>
	</div>
		
		
<div class="pictures">
    <ul class="picture-list">
            <li class="picture-item">
                <div class="picture-cell">
                <!-- max 1024x536 -->
					<div class="picture-container">
						<a class="picture-link"
								title="abcd"
								href="xzgfdfssdf"
								rel="picture-gallery">
							<img class="image-box"
								alt="qweqwe"
								width="800"
								height="535"
								src="../static/img/spacer.gif"
								style="background-image: url(../../data/pictures/display/2009%2012%2001-04%20Mt%20Madeline/Mt%20Madeline%20002.jpg);
									   background-repeat: no-repeat;" />
						</a>
					</div>
                    <div class="picture-info">
						<div class="picture-descr">
	                        The mammoth bluffs of Cone Rock and the Fox River, just downvalley of the Fox Glacier terminus
						</div>
                    </div>
                </div>
            </li>
    </ul>
</div>


  </div>
  <div class="footer">
	  <p>This .footer contains the declaration position:relative; to give Internet Explorer 6 hasLayout for the .footer and cause it to clear correctly. If you're not required to support IE6, you may remove it.</p>
  </div>
</div>

</body>
</html>
